/*
font-family: 'Catamaran', sans-serif;
font-family: 'Cormorant Garamond', serif;
*/

.header {
  background-color: #fff;
}

.footer {
  background-image: url('../images/footer-bg.png');
}

.navigation__link {
  color: #010101;
}

.navigation__link:hover {
  color: #c74817;
}

.navigation__link-cart--number {
  background-color: #c74817;
  color: #fff;
}

.button {
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  background-color: #c74817;
  color: #fff;
  letter-spacing: 2px;
}

.button:hover {
  color: #fff;
}

.button--dark {
  background-color: #262524;
}

.heading--about {
  background-image: url('../images/about-bg.png');
}

.heading--blog {
  background-image: url('../images/blog-bg.png');
}

.heading--contact {
  background-image: url('../images/contact-bg.png');
}

.heading--shop {
  background-image: url('../images/shop-bg.png');
}

.tag {
  font-family: 'Catamaran', sans-serif;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #c74817;
}

.pagination-link {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #656464;
  padding: 10px;
}

.pagination-link .active {
  color: #fff;
  background-color: #c74817;
  border-radius: 100%;
}

.title {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.title--dark {
  color: #262524;
}

.title--heading {
  font-size: 60px;
  line-height: 70px;
}

.title--main {
  font-size: 55px;
  line-height: 66px;
}

.title--section {
  font-size: 45px;
  line-height: 55px;
}

.heading-subtitle {
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  font-size: 12px;
  font-weight: 40px;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.heading-subtitle--dark {
  color: #000;
}
